.ri-toman1::before {
  content: '\e016' !important;
}

.ri-toman2::before {
  content: '\e018' !important;
}

.ri-rial1::before {
  content: '\e017' !important;
}

.ri-rial2::before {
  content: '\e019' !important;
}

.ri-cash::before {
  content: '\e006' !important;
}

.ri-tea::before {
  content: '\e002' !important;
}

.ri-azadiTower::before {
  content: '\e003' !important;
}

.ri-persPolice::before {
  content: '\e004' !important;
}

.ri-kebab::before {
  content: '\e001' !important;
}

.ri-madInIran::before {
  content: '\e005' !important;
}

.ri-iranMap::before {
  content: '\e008' !important;
}

.ri-IranMapDetailed::before {
  content: '\e007' !important;
}

.ri-mosque::before {
  content: '\e012' !important;
}

.ri-kabba::before {
  content: '\e010' !important;
}

.ri-namaz::before {
  content: '\e013' !important;
}

.ri-quran1::before {
  content: '\e014' !important;
}

.ri-quran2::before {
  content: '\e015' !important;
}

.ri-mehrab::before {
  content: '\e011' !important;
}

.ri-halalMark::before {
  content: '\e009' !important;
}

.ri-alborz::before {
  content: '\e020' !important;
}

.ri-ardabil::before {
  content: '\e021' !important;
}

.ri-boshehr::before {
  content: '\e022' !important;
}

.ri-chaharVaBakht::before {
  content: '\e023' !important;
}

.ri-eazarBaijan::before {
  content: '\e024' !important;
}

.ri-esfahan::before {
  content: '\e025' !important;
}

.ri-fars::before {
  content: '\e026' !important;
}

.ri-ghazvin::before {
  content: '\e027' !important;
}

.ri-gillan::before {
  content: '\e028' !important;
}

.ri-golestan::before {
  content: '\e029' !important;
}

.ri-hamedan::before {
  content: '\e030' !important;
}

.ri-hormozgan::before {
  content: '\e031' !important;
}

.ri-ilam::before {
  content: '\e032' !important;
}

.ri-kerman::before {
  content: '\e033' !important;
}

.ri-kermanshah::before {
  content: '\e034' !important;
}

.ri-khozestan::before {
  content: '\e035' !important;
}

.ri-kohkVaBoir::before {
  content: '\e036' !important;
}

.ri-kurdestan::before {
  content: '\e037' !important;
}

.ri-lorestan::before {
  content: '\e038' !important;
}

.ri-markazi::before {
  content: '\e039' !important;
}

.ri-mazandaran::before {
  content: '\e040' !important;
}

.ri-nkhorasan::before {
  content: '\e041' !important;
}

.ri-qom::before {
  content: '\e042' !important;
}

.ri-rkhorasan::before {
  content: '\e043' !important;
}

.ri-semnan::before {
  content: '\e044' !important;
}

.ri-sistVaBaloch::before {
  content: '\e045' !important;
}

.ri-skhorasan::before {
  content: '\e046' !important;
}

.ri-tehran::before {
  content: '\e047' !important;
}

.ri-wazarBaijan::before {
  content: '\e048' !important;
}

.ri-yazd::before {
  content: '\e049' !important;
}

.ri-zanjan::before {
  content: '\e050' !important;
}












